In [1]:
import datetime
import itertools
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
429,tt1477076,20000000,136150434,Saw 3D,Tobin Bell|Costas Mandylor|Betsy Russell|Cary ...,Kevin Greutert,The Traps Come Alive,As a deadly battle rages over Jigsaw's brutal ...,90,Horror|Crime,Lionsgate|Twisted Pictures|Serendipity Product...,10/21/2010,5.8,2010
390,tt1403865,38000000,252276927,True Grit,Jeff Bridges|Hailee Steinfeld|Matt Damon|Josh ...,Ethan Coen|Joel Coen,Punishment Comes One Way or Another.,Following the murder of her father by hired ha...,110,Drama|Adventure|Western,Paramount Pictures|Scott Rudin Productions|Mik...,12/22/2010,7.0,2010
779,tt1217613,70000000,202466756,Battle: Los Angeles,Aaron Eckhart|RamÃ³n RodrÃ­guez|Will Rothhaar|...,Jonathan Liebesman,It's not war. It's survival.,The Earth is attacked by unknown forces. As pe...,116,Action|Science Fiction,Columbia Pictures|Original Film|Relativity Media,3/8/2011,5.5,2011
361,tt1175506,25000000,2336172,Me and Orson Welles,Zac Efron|Claire Danes|Christian McKay|Imogen ...,Richard Linklater,If you want to discover life learn from the ma...,"New York, 1937. A teenager hired to star in Or...",114,Comedy|Drama|Romance,Isle of Man Film|Freestyle Releasing|CinemaNX,11/25/2009,6.4,2009
596,tt0166110,10000000,7316658,Bones,Snoop Dogg|Pam Grier|Michael T. Weiss|Clifton ...,Ernest R. Dickerson,"This Halloween, unleash the Dogg.","Over 20 years after his death by a gunshot, Ji...",96,Action|Horror|Thriller,New Line Cinema,10/24/2001,4.0,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

In [5]:
# прибыль
data['profit'] = data.revenue - data.budget

In [6]:
#the time given in the dataset is in string format.
#So we need to change this in datetime format

def parse_date(date_str):
    m, d, y = map(int, date_str.split('/'))
    return datetime.date(y, m, d)

data.release_date = data.release_date.apply(parse_date)

In [7]:
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
541,tt0272020,72000000,27642707,The Last Castle,Robert Redford|James Gandolfini|Mark Ruffalo|S...,Rod Lurie,A Castle Can Only Have One King,A Court Martialed general rallies together 120...,131,Action|Drama|Thriller,DreamWorks SKG,2001-10-19,7.1,2001,-44357293
608,tt0421715,150000000,333932083,The Curious Case of Benjamin Button,Cate Blanchett|Brad Pitt|Tilda Swinton|Julia O...,David Fincher,"Life isn't measured in minutes, but in moments.","Tells the story of Benjamin Button, a man who ...",166,Fantasy|Drama|Thriller|Mystery|Romance,Paramount Pictures|Warner Bros.|Kennedy/Marsha...,2008-11-24,7.2,2008,183932083
1170,tt0297144,13000000,17040871,Ghosts of the Abyss,Bill Paxton|John Broadwater|James Cameron|Mike...,James Cameron,The legend no one can forget has become the gr...,Academy AwardÂ® winning director and master st...,92,Family|Documentary,Walt Disney Pictures|Walden Media|Earthship Pr...,2003-04-10,6.7,2003,4040871
710,tt1046163,20000000,36620508,My Best Friend's Girl,Dane Cook|Kate Hudson|Alec Baldwin|Jason Biggs...,Howard Deutch,It's funny what love can make you do...,"When Dustin's girlfriend, Alexis, breaks up wi...",101,Comedy,Lionsgate|New Wave Entertainment|Management 36...,2008-09-19,5.3,2008,16620508
693,tt1000774,65000000,415252786,Sex and the City,Sarah Jessica Parker|Kim Cattrall|Cynthia Nixo...,Michael Patrick King,Get carried away.,A New York writer on sex and love is finally g...,145,Comedy|Drama|Romance,New Line Cinema|Darren Star Productions|Home B...,2008-05-12,6.1,2008,350252786

In [8]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

In [9]:
# жанры по одному
genres = pd.DataFrame(
    (
        (row.imdb_id, genre)
        for _, row in data.iterrows()
        for genre in row.genres.split('|')
    ),
    columns=['imdb_id', 'genre']
)
genres.head(10)

     imdb_id            genre
0  tt0369610           Action
1  tt0369610        Adventure
2  tt0369610  Science Fiction
3  tt0369610         Thriller
4  tt1392190           Action
5  tt1392190        Adventure
6  tt1392190  Science Fiction
7  tt1392190         Thriller
8  tt2908446        Adventure
9  tt2908446  Science Fiction

In [10]:
# режиссёры по одному
directors = pd.DataFrame(
    (
        (row.imdb_id, a_director)
        for _, row in data.iterrows()
        for a_director in row.director.split('|')
    ),
    columns=['imdb_id', 'a_director']
)
directors.head()

     imdb_id        a_director
0  tt0369610   Colin Trevorrow
1  tt1392190     George Miller
2  tt2908446  Robert Schwentke
3  tt2488496       J.J. Abrams
4  tt2820852         James Wan

In [11]:
# актёты по одному
actors = pd.DataFrame(
    (
        (row.imdb_id, actor)
        for _, row in data.iterrows()
        for actor in row.cast.split('|')
    ),
    columns=['imdb_id', 'actor']
)
actors.head(15)

      imdb_id                actor
0   tt0369610          Chris Pratt
1   tt0369610  Bryce Dallas Howard
2   tt0369610          Irrfan Khan
3   tt0369610    Vincent D'Onofrio
4   tt0369610        Nick Robinson
5   tt1392190            Tom Hardy
6   tt1392190      Charlize Theron
7   tt1392190     Hugh Keays-Byrne
8   tt1392190       Nicholas Hoult
9   tt1392190          Josh Helman
10  tt2908446     Shailene Woodley
11  tt2908446           Theo James
12  tt2908446         Kate Winslet
13  tt2908446         Ansel Elgort
14  tt2908446         Miles Teller

In [12]:
# студии по одной
compaines = pd.DataFrame(
    (
        (row.imdb_id, company)
        for _, row in data.iterrows()
        for company in row.production_companies.split('|')
    ),
    columns=['imdb_id', 'company']
)
compaines.head(10)

     imdb_id                     company
0  tt0369610           Universal Studios
1  tt0369610        Amblin Entertainment
2  tt0369610          Legendary Pictures
3  tt0369610     Fuji Television Network
4  tt0369610                      Dentsu
5  tt1392190   Village Roadshow Pictures
6  tt1392190  Kennedy Miller Productions
7  tt2908446        Summit Entertainment
8  tt2908446            Mandeville Films
9  tt2908446     Red Wagon Entertainment

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [14]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [15]:
data.sort_values(by='budget').tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,2015-04-22,7.4,2015,1125035767
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,6.8,2007,661000000
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
answers['2'] = '2. Gods and Generals (tt0279111) '

In [17]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

ВАРИАНТ 2

In [18]:
data.sort_values(by='runtime').tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,2007-04-06,6.5,2007,-41962103
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [20]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

ВАРИАНТ 2

In [21]:
data.sort_values(by='runtime').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2002-02-14,6.2,2002,89862682
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2003-02-07,5.6,2003,115680000

# 4. Какова средняя длительность фильмов?

In [22]:
answers['4'] = '2. 110'

In [23]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = '1. 107'

In [25]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [26]:
answers['6'] = '5. Avatar (tt0499549)'

In [27]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

ВАРИАНТ 2

In [28]:
data.sort_values(by='profit').tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [29]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [30]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

ВАРИАНТ 2

In [31]:
data.sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,2004-04-07,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,2011-03-09,5.5,2011,-111007242

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1. 1478'

In [33]:
data[data.revenue > data.budget].shape[0]

1478

ВАРИАНТ 2

In [34]:
len(data[data.profit > 0])

1478

ВАРИАНТ 3

In [35]:
(data.profit > 0).value_counts()

True     1478
False     411
Name: profit, dtype: int64

ВАРИАНТ 4

In [36]:
(data.profit > 0).sum()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [37]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [38]:
data[data.release_year == 2008].sort_values(by='revenue').tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,2008-06-04,6.8,2008,501744560
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,5.6,2008,601636033
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [39]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [40]:
data[data.release_year.between(2012, 2014)].sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,2012-09-27,6.1,2012,-51893525

# 11. Какого жанра фильмов больше всего?

In [41]:
answers['11'] = '3. Drama'

In [42]:
counter = Counter(
    g
    for gl in data.genres
    for g in gl.split('|')
)
sorted(counter.items(), key=lambda item: item[1])[-1]

('Drama', 782)

ВАРИАНТ 2

In [43]:
genres.genre.describe()

count      5107
unique       19
top       Drama
freq        782
Name: genre, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
answers['12'] = '1. Drama'

In [45]:
genres.merge(data[data.profit > 0], on='imdb_id').genre.describe()

count      3962
unique       18
top       Drama
freq        560
Name: genre, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = '5. Peter Jackson'

In [47]:
data.merge(directors, on='imdb_id').groupby('a_director').revenue.sum().sort_values().tail(3)

a_director
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [48]:
answers['14'] = '3. Robert Rodriguez'

In [49]:
data[data.genres.str.contains('Action')].merge(directors, on='imdb_id').a_director.describe()

count                  623
unique                 364
top       Robert Rodriguez
freq                     9
Name: a_director, dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [50]:
answers['15'] = '3. Chris Hemsworth'

In [51]:
data[data.release_year == 2012].merge(actors, on='imdb_id').groupby('actor').revenue.sum().sort_values().tail()

actor
Robert Downey Jr.    1519557910
Chris Evans          1519557910
Anne Hathaway        1522851057
Denis Leary          1629460639
Chris Hemsworth      2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'

In [53]:
data[data.budget > data.budget.mean()].merge(actors, on='imdb_id').actor.describe()

count           3355
unique          1505
top       Matt Damon
freq              18
Name: actor, dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [54]:
answers['17'] = '2. Action'

In [55]:
actors[actors.actor == 'Nicolas Cage'].merge(genres, on='imdb_id').genre.describe()

count         93
unique        15
top       Action
freq          17
Name: genre, dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [56]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [57]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,2003-11-26,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [58]:
answers['19'] = '5. 2015'

In [59]:
data.groupby('release_year').revenue.sum().sort_values().tail()

release_year
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [60]:
answers['20'] = '1. 2014'

In [61]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values().tail()

release_year
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [62]:
answers['21'] = '4. Сентябрь'

In [63]:
data.release_date.apply(lambda d: str(d.month)).describe()

count     1889
unique      12
top          9
freq       227
Name: release_date, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [64]:
answers['22'] = '2. 450'

In [65]:
data.release_date.apply(lambda d: d.month in [6, 7, 8]).value_counts()

False    1439
True      450
Name: release_date, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [66]:
answers['23'] = '5. Peter Jackson'

In [67]:
data[data.release_date.apply(lambda d: d.month in [12, 1, 2])].merge(directors, on='imdb_id').a_director.describe()

count               471
unique              358
top       Peter Jackson
freq                  7
Name: a_director, dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
answers['24'] = '5. Four By Two Productions'

In [69]:
td = data.merge(compaines, on='imdb_id')
td['title_len'] = td.original_title.apply(len)
display(td.groupby('company').title_len.mean().sort_values().tail(3))
display(td.groupby('company').title_len.min().sort_values().tail(3))
display(td.groupby('company').title_len.max().sort_values().tail(3))

company
Dos Corazones              47.0
Jim Henson Company, The    59.0
Four By Two Productions    83.0
Name: title_len, dtype: float64

company
Dos Corazones              47
Jim Henson Company, The    59
Four By Two Productions    83
Name: title_len, dtype: int64

company
Walden Media                              62
Twentieth Century Fox Film Corporation    83
Four By Two Productions                   83
Name: title_len, dtype: int64

In [70]:
data[data.production_companies.str.contains('Four By Two Productions')]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,2006-11-02,6.4,2006,243572744

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [71]:
answers['25'] = '3. Midnight Picture Show'

In [72]:
td = data.merge(compaines, on='imdb_id')
td['overview_wc'] = td.overview.apply(lambda s: len(s.split()))
td.groupby('company').overview_wc.mean().sort_values().tail()

company
Brookwell-McNamara Entertainment    156.0
Heineken Branded Entertainment      159.0
98 MPH Productions                  159.0
Room 9 Entertainment                161.0
Midnight Picture Show               175.0
Name: overview_wc, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [73]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [74]:
data[['original_title', 'vote_average']].sort_values('vote_average', ascending=False)[: round(0.01 * len(data))]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [75]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [76]:
counter = Counter(    
    (a1, a2)
    for cast in data.cast
    for a1, a2 in itertools.combinations(sorted(cast.split('|')), 2)
)
sorted(counter.items(), key=lambda item: item[1])[-5:]

[(('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

ВАРИАНТ 2

In [77]:
comb = actors.merge(actors, on='imdb_id')
comb = comb[comb.actor_x < comb.actor_y]
comb.groupby(['actor_x', 'actor_y']).imdb_id.count().sort_values().tail()

actor_x               actor_y
Ben Stiller           Owen Wilson     6
Helena Bonham Carter  Johnny Depp     6
Emma Watson           Rupert Grint    8
Daniel Radcliffe      Emma Watson     8
                      Rupert Grint    8
Name: imdb_id, dtype: int64

# Submission

In [78]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111) ',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [79]:
# и убедиться что ни чего не пропустил)
len(answers)

27